.container {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
.section1-creative {
  display: block;
}
.parallax {
  background-image: url(./images/section1-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.nav {
  top: 0px;
  margin-top: 0px;
  overflow: visible;
  width: 100%;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: #5E5D5899;
    opacity:calc(80%); 
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.logo-hexagon {
  display: flex;
  box-sizing: border-box;
  width: 53px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 6px;
  clip-path: polygon(53% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: #20e0ba;
}

.the {
  font-weight: 300;
  color: #ffffff;
}
.logo-name {
  font-size: 32px;
  color: #18cfab;
}
.navmenu {
  font-weight: 700;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.navmenu-item {
  display: flex;
  position: relative;
  color: rgba(255, 255, 255, 0.993);
  margin-right: 21px;
  transition: 0.7s;
  text-decoration: none;
}

.navmenu-item::after {
  opacity: 0;
  top: 45px;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3aecc9;
  transition: opacity 0.7s;
}
.navmenu-item:hover {
  color: #62e6cb;
}
.navmenu-item:hover::after {
  opacity: 0.7;
}

.text-section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}

.slogan-text {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}

.slogan-text.green {
  color: #18cfab;
}

.text-we-are {
  font-weight: 700;
  font-size: 78px;
  color: #ffffff;
  margin: 22px 0;
}

.text-just-buy {
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 150px;
}
.slogan-buttons {
  display: flex;
}
.slogan-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px -5px;
  width: 170px;
  height: 63px;
  margin-left: 26px;
  margin-bottom: 240px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

.slogan-button.green {
  background-color: #18cfab;
}
.slogan-button.blue {
  background-color: #00cbf6;
}
/* section benefits */
.benefits {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 106px 0;
  height: 377px;

}
.benefit-text {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.benefit.blue {
  background-color: #1c2a33;
  color: #18cfab;
}
.benefit.green {
  background-color: #18cfab;
  color: white;
}
/*     section 2  */

.section2-our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.section-title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #4e4e4e;
  margin-bottom: 85px;
}
.section-title::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  bottom: -26px;
  background-color: #18cfab;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  bottom: -32px;
  transform: translateX(20%);
  background-color: #18cfab;
}

.centered-content {
  width: 1160px;
  margin-bottom: 90px;
  margin-right: 75px;
  
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 23px;
  color: #777777;
}

.tabs-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75px;
  width: 200px;
  background: #f8fcfe;
  border: 1px solid #bfe9e9;
  cursor: pointer;
  transition: 0.7s;
}

.tabs-title.active {
  background-color: #18cfab;
  color: white;
}
.tabs-title.active::after {
  display: block;
  content: "";
  width: 27px;
  height: 15px;
  position: absolute;
  bottom: -15px;
  background-color: #18cfab;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.tab-content {
  display: none;
}
.class1 {
  height: 200px;
}

.img-content {
  display: block;
  max-width: 194px;
  margin-right: 15px;
}

.tab-content.active {
  display: flex;
}

.active {
  color: #23201d;
}
.hidden {
  display: none;
}

/* section 3 */
.section3-everything {
  background-image: url(./images/purchase-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 127px 0px;
}
.text-title1 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #18cfab;
}
.text-title2 {
  margin-bottom: 67px;
  color: #d8d8d8;
}
.button-purchase {
  background-color: #18cfab;
  color: white;
  font-weight: 700;
  width: 168px;
  height: 63px;
  box-shadow: 0px -5px;
  border-left: 0px;
  border-right: 0px;
  border-color: white;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
/* section 4 */

.section4-our-am-work {
  background: #e9edef;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 80px ;
}
.section-title-am {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #4e4e4e;
  margin-top: 83px;
  margin-bottom: 85px;
}
.tabs-section4 {
  display: flex;
  margin-bottom: 70px;
  list-style: none;
}
.section4-tabs-title {
  color: #717171;
  padding: 15px;
  border: 2px solid #dadada;
  cursor: pointer;
  transition: 0.2s;
}
.active-title {
  border: 2px solid #18cfab;
}

.section4-tabs-title:hover {
  border: 2px solid #18cfab;
}
.section4-content-hover {
    position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 172%;
  bottom: -357px;
  background: #e9edef;
  border-top: 4px solid #18cfab;
  transition: 0.7s;
  padding-bottom: 10px;
}
.icons-hover {
  margin-top: 10px;
  display: flex;
  margin-right: 20px;
}

.hover-title {
  margin-bottom: 10px;
  margin-right: 13px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #18cfab;
}
.hover-subtitle {
  margin-right: 13px;
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 24px;
  color: #8a8a8a;
}

.section4-imgs {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-auto-rows: 210px;
  column-gap: 0px;
}
.section4-content.hidd {
  display: none;
}

.load-more {
  background-color: #18cfab;
  color: white;
  font-weight: 700;
  width: 168px;
  height: 63px;
margin-bottom: 55px;
  margin-top: 70px;
  border-left: 0px;
  border-right: 0px;
  border-color: white;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
.plus {
  margin-right: 15px;
}

.section4-content {
  position: relative;
  overflow: hidden;
}
.section4-content:hover > .section4-content-hover {
  bottom: 0px;
}


/* section 5 */

.section5-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
}
.news-date {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 15px;
  line-height: 25px;
  width: 70px;
  right: 0px;
  top: 0px;
  color: white;
  background-color: #203e38;
  word-wrap: break-word;
  transition: 0.7s;
}
.news-portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  row-gap: 45px;
  column-gap: 35px;
  width: 1160px;
}
.news-item {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.blog-post {
  font-weight: 700;
  font-size: 18px;
  color: #717171;
  margin: 10px;
  margin-left: 5px;
  transition: 0.7s;
}
.comments {
  position: relative;
}
.news-item:hover .news-date {
  background-color: #18cfab;
}

.news-item:hover .blog-post {
  color: #18cfab;
  margin-left: 12px;
}
.news-item > .comments {
  font-size: 14px;
  color: #777777;
  padding-left: 10px;
}

/* section 6 */

.section6-people-say {
  background-image: url(./images/section-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
position: relative;
}
.section-title1.users {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  padding-top: 50px;
}
.purchase1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shape {
  display: block;
  align-items: center;
  width: 47px;
  height: 33px;
}
 
.wrapper{
	min-height: 100%;
  text-align: center;
  padding-bottom: 84px;
}
.user-mame {
  margin-top: 37px;
  font-weight: 700;
  text-transform: uppercase;
  color: #18cfab;
}
.user-feedback {
  color: #bbbbbb;
}
.user-profession {
  font-size: 16px;
  color: #bbbbbb;
}
.image-slider_image {
  display: inline-block;
  margin-top: 40px;
  width: 145px;
  height: 145px;
  border: 10px solid #1fdab56c;
  border-radius: 50%;
  overflow: hidden;
}
.user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-slider{
	padding: 30px 0 70px 0;
}
.imgs-slider .swiper-button-prev::after {
  position: absolute;
    background: rgba(0, 0, 0, 0.0001);
    top: 255px;
    left: 320px;
    color: #BBBBBB;
    font-size: 13px;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.imgs-slider .swiper-button-next::after{
  position: absolute;
    background: rgba(0, 0, 0, 0.0001);
    top: 255px;
    right: 320px;
    color: #BBBBBB;
    font-size: 13px;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}
.imgs-slider .swiper-button-prev:hover::after,
.imgs-slider .swiper-button-next:hover::after {
background-color: #18cfab;
}
/* .image-slider_image img{
	max-width: 100%;
} */

.mini-user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-mini-slider_image {
 /* display: inline-block; */
  border: 6px solid #1fdab56c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.image-mini-slider {
  display: inline-block;
  width: 400px;
  align-items: center;
  
}
.image-mini-slider_wrapper {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-mini-slider_slide{
  display: contents;
	opacity: 0.2;
	transition: opacity 0.3s ease 0s;
}

.swiper-slide-thumb-active {
  display: block;
  margin-bottom: 20px;
  
}



/* footer */

.footer {
  text-align: center;
  padding-top: 60px;
  height: 83px;
  background: #22353f;
  font-size: 14px;
  color: #aeaeae;
  
}
.footer-span {
  color: #18cfab;
}
